<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <!-- Установите парамаетры подключения к SQL Server:
        
          Примеры:(имя сервера \ экземпляр) (localdb)\MSSQLLocalDB
  -->
  <appSettings>
    <!-- DataSource - сетевой адрес экземпляра SQL Server, с которым устанавливается соединение.-->
    <!-- Чтобы подключиться к именованному экземпляру SQL Server, используйте синтаксис имени сервера \ экземпляр в свойстве value.
    Примеры:
        <add key="DataSource" value="(localdb)\MSSQLLocalDB" />
        <add key="DataSource" value="(localdb)\ProjectsV13" />
        <add key="DataSource" value="DESKTOP-60T11D9" />
        IP,PORT
        <add key="DataSource" value="93.74.213.211,31337" />
    -->
    <add key="DataSource" value="(localdb)\MSSQLLocalDB" />
    <!-- InitialCatalog - название каталога базы данных. -->
    <add key="InitialCatalog" value="W_69742D656E7465727072697365_TestCS" />
    <!-- UserId - логин для доступа к SQL Server. -->
    <add key="UserId" value="sa" />
    <!-- Password - пароль от логина для доступа к SQL Server. -->
    <add key="Password" value="2584744" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
</configuration>